client/src/main/resources/org/burgers/email/client/email.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.burgers.org/schema/email" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified" targetNamespace="http://www.burgers.org/schema/email">
    <xs:element name="client">
        <xs:complexType>
            <xs:attribute name="id" use="optional" default="genericEmailServiceClient" type="xs:string"/>
            <xs:attribute name="destination" use="required" type="xs:string"/>
            <xs:attribute name="connectionFactory-ref" use="required" type="xs:string"/>
        </xs:complexType>
    </xs:element>

</xs:schema>